:root{
    --my-color:  rgba(245, 145, 136, 0.974);
}
#container{
    width: 80%;
    height: 734px;
    box-sizing: border-box;
    background-color: var(--my-color);
    margin: auto;
    text-align: center;
    border: 2px solid #be4c17
}
header{
    text-align: center;
    width: 100%;
    height: 60px;
    font-size: 32px;
    color: brown;
    border-bottom: 1px solid rgb(21, 19, 23);
    background-color: aliceblue;
    text-shadow:15px 15px 10px  brown;
    padding-top:  5px;
}
                 
body{
    margin-top: 0;
}
hr{
    color: rgb(30, 30, 37);
}
nav{
    text-align: center;
    width: 100%;
    height: 35px;
    background-color: var(--my-color);
    border-bottom: 1px solid rgb(21, 19, 23);
}
nav a {
    display: block;
    color: white;
    padding: 5px 3px;
    text-decoration: none;
    font-size: 12px;
}
nav li:not(:last-child) {
    border-right: 1px solid white;
}

nav ul{

    text-align: center;
    list-style: none;
    width: 60%;
    overflow: hidden;
    margin: auto;
    border-bottom: 1px;
}
nav li{
    padding-top: 6px;
    color: azure;
    float: left;
    width: 100px;
    height: 80%;
    line-height: 100%;
    margin-left: 5px;
    display: block;
}
#content{
    width: 100%;
    height: 560px;
    background-color: azure;
    margin-bottom:0px;
}
section{
    margin-top: -10px;
    float: left;
    width: 75%;
    height: 100%;
}
aside{
    float: left;
    width: 25%;
    height: 100%;
    
}
a{
    color: rgb(192, 6, 6);
}
#left{
    width: 23%;
    float: left;
    height: 100%;
    text-align: left;
}
#right{
    width: 77%;
    float: left;
    height: 100%;
    text-align: left;
}
.form_titlle{
    margin: auto;
    margin-top: 20px;
    width: 350px;
    height: 30px;
    color: #be4c17;
    align-items: center;
    background-color: var(--my-color);
}
.forminput{
    height: 30px;
    width: 300px;
}
#events{
    text-align: left;
    background-color: black;
    height: 90%;
    width: 100%;
    color: white;
    border-bottom: 2px;
}
#ul1{
    align-content: center;
    list-style: none;
      padding: 0;
      margin-bottom: 0px;
}
#ul1 li{
    margin-bottom: 0px;
    box-align: center;
    height: 10px;
    color: azure;
    padding-bottom: 12px;
    border-bottom: 1px solid #ecf0f1; /* Màu đường kẻ giữa các mục */
    background-color: var(--my-color);
    border-radius: 15px;
    margin: 5px;
}
footer{
    float: none;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color:var(--my-color);
    color: white;
    margin-top: 0px;
    padding: 1px;
}
table{
    border-spacing: 15px;
}
.radius{
    border-radius: 60%;
    overflow: hidden;

    box-sizing: border-box;
    box-shadow: 10px 20px 10px  rgba(245, 145, 136, 0.974);
}
.anh{
    margin: auto;
    width: 80%;
}